{{#each dogs as |dog|}}
  <section class='oneDog' data-id="{{dog.id}}">
    <h6>Name:</h6>
    <h3>
      {{dog.name}}
    </h3>
    <h6>Breed:</h6>
    <p>
      {{#if dog.breed}}
        {{dog.breed}}
      {{else}}
        No breed provided.
      {{/if}}
    </p>
    <!-- <p>Is this dog no longer with us?</p> !-->
    <button type=button class='destroyDog'>Remove Dog</button>
    <form class='updateDog'>
      <fieldset>
        <legend>Update Dog</legend>
        <input type="text" name="dog[name]" placeholder="Enter Dog Name" required>
        <input type="text" name="dog[breed]" placeholder="Enter Dog Breed" required>
        <!-- <input type="submit" value="Update Dog"> !-->
      </fieldset>
  <button type='submit' class='updateDog'>Update dog</button>
  </form>
    <!--  {{> partial}} !-->
  </section>

{{/each}}

{{#each smallpets as |smallpet|}}
  <section class='oneSmallPet' data-id="{{smallpet.id}}">
    <h6>Name:</h6>
    <h3>
      {{smallpet.name}}
    </h3>
    <h6>Animal:</h6>
    <p>
      {{#if smallpet.animal}}
        {{smallpet.animal}}
      {{else}}
        No animal provided.
      {{/if}}
    </p>
    <button type=button class='destroySmallPet'>Remove Small Pet</button>
    <form class='updateSmallPet'>
      <fieldset>
        <legend>Update Small Pet</legend>
        <input type="text" name="smallpet[name]" placeholder="Enter Small Pet's Name" required>
        <input type="text" name="smallpet[animal]" placeholder="Enter Type of Animal" required>
        <!-- <input type="submit" value="Update Dog"> !-->
      </fieldset>
  <button type='submit' class='updateSmallPet'>Update small pet</button>
  </form>
    <!--  {{> partial}} !-->
  </section>

{{/each}}
